@import url("https://use.typekit.net/idd4jhz.css");

:root {
  --proxima-nova: proxima-nova, sans-serif;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

body {
  font-family: var(--proxima-nova);
  font-style: normal;
  margin: 0;
}
li {
  text-decoration: none;
  list-style: none;
  width: 300px;
  margin: auto;
}
p{
  margin: 0;
}
a{
  color:#37474f;
}
